.header {
  display: flex;
  flex-direction: row;
  height: 57px; 
  background-color: white;

  justify-content: space-between;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;

  border-bottom: 1px solid rgb(235, 235, 235); 
}

.left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-right: 35px;
  margin-left: 70px;
  max-width: 500px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 36px;
  width: 0;
  
  padding-left: 12px;
  border: 1px solid rgb(204, 204, 204);
  font-size: 16px;
  box-shadow: inset 0px 1px 2px rgb(238, 238, 238);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.middle-section .search-button {
  width: 60px;
  height: 39px;
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  border: 1px solid rgb(204, 204, 204);
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  background-color: rgb(247, 247, 247);
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.middle-section .search-button img{
  height: 24px;
}

.middle-section .voice-search {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgb(245, 245, 245);
  padding-top: 3px;
}

.middle-section .voice-search img  {
  height: 23px;
}

.right-section { 
  width: 180px; 

  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}

.youtube-apps-icon {
  height: 24px;
}

.notifications-icon{
  height: 24px;
}

.current-profile-icon {
  height: 32px; 
  border-radius: 50%;
  margin-right: 20px;
}